* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.app {
  width: 100%;
  height: 100vh;
  color: white;
  display: flex;
  justify-content: end;
  align-items: center;
  flex-direction: column;
}
.colors {
  background-color: black;
  border-radius: 5px;
  padding: 15px 20px;
  margin-bottom: 80px;
  display: flex;
  gap:20px;
}
.color {
  padding: 10px 15px;
  border-radius: 5px;
  font-size: 20px;
  cursor: pointer;
}
